$colorblue: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$headerColor: #fff;
$sectionColor:rgb(114, 82, 82);
$colorFont: #060A24;
$butonColor: hsl(166, 100%, 48%);
$hoverColor: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$styleFont: 'IBM Plex Mono',monospace;
$styleFont2: 'IBM Plex Sans',monospace;
$stylefont3:'IBM Plex Mono-Medium',monospace;
$stylefont4: 'IBM Plex Sans-Semi Bold', monospace;